@use '../../../../styles/variables' as *;

.status-badge {
  text-transform: capitalize;

  // Cross-reference: src/lib/types/user/status.js
  &--new {
    color: var(--cyan);
  }

  &--verified {
    color: var(--yellow);
  }

  &--trial {
    color: var(--purple);
  }

  &--active {
    color: var(--green);
  }

  &--suspended {
    color: var(--red);
  }

  &--archived {
    color: var(--blue);
  }

  &--pending {
    color: var(--orange);
  }
}
