@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.notification-toggle {
  @include action-button-base;

  position: relative;

  &__badge {
    position: absolute;
    top: 2px;
    right: 2px;
  }
}
