@use '../../styles/variables' as *;

.login-page {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    margin-bottom: $spacing-2xl;
  }

  &__separator {
    margin: $spacing-sm 0;
  }

  &__prompts {
    display: flex;
    flex-direction: column;
    gap: $spacing-2xl;
    align-items: center;
    margin-top: $spacing-2xl;
  }

  &__error {
    color: var(--text-error);
  }
}
