@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.offline-error-page {
  @include flex-column;

  gap: $spacing-2xl;

  &__content {
    @include flex-center-column;

    gap: $spacing-2xl;
  }

  &__title {
    @include title-base;
  }

  &__description {
    @include description-base;
  }
}
