@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.email-confirmation-page {
  @include flex-column;

  gap: $spacing-2xl;

  &__content {
    @include flex-center-column;

    gap: $spacing-md;
  }

  &__title {
    @include text-primary-xl-semibold;
  }

  &__description {
    @include text-secondary-md;
  }
}
