@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.email-confirmation-page {
  @include flex-column;

  gap: $spacing-2xl;

  &__content {
    @include flex-center-column;

    gap: $spacing-2xl;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: 600;
    text-align: center;
  }

  &__message {
    font-size: $font-size-sm;
    color: var(--text-secondary);
    text-align: center;
  }
}
