@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.separator {
  position: relative;

  &__line-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
  }

  &__line {
    width: 100%;
    border-top: 1px solid var(--border-color);
  }

  &__text-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
  }

  &__text {
    @include text-secondary-sm;

    padding: 0 $spacing-sm;
    background-color: var(--bg-primary);
    transition: background-color $transition-default;
  }
}
