@use '../../../../styles/variables' as *;
@use '../../../../styles//mixins' as *;

.slider {
  &__details {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    width: 100%;
  }

  &__detail-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--text-secondary);

    &__prices {
      @include flex-center;
    }

    &--total {
      span {
        font-size: $font-size-2xl;
        font-weight: $font-weight-semibold;
      }
    }

    &--discounted {
      .slider__detail-row__old-price {
        font-size: $font-size-lg;
        color: var(--text-secondary);
        text-decoration: line-through;
      }
    }
  }
}
