@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: $z-index-dropdown;
  width: auto;
  margin-top: $spacing-xs;
  pointer-events: none;
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: $border-radius-sm;
  box-shadow: $shadow-sm;
  opacity: 0;
  transform: translateY(-$spacing-sm);
  transition:
    opacity $transition-default,
    transform $transition-default;

  &--open {
    pointer-events: auto;
    opacity: 1;
    transform: translateY(0);
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    gap: $spacing-sm;
    align-items: center;
    width: 100%;
    padding: $spacing-sm $spacing-md;
    text-align: left;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
      background-color: var(--highlight-bg);
    }

    &--active {
      background-color: var(--highlight-bg);
    }

    &--first {
      border-top-left-radius: $border-radius-sm;
      border-top-right-radius: $border-radius-sm;
    }

    &--last {
      border-bottom-right-radius: $border-radius-sm;
      border-bottom-left-radius: $border-radius-sm;
    }

    &--danger {
      color: var(--text-error);
    }
  }

  &__icon {
    @include flex-center;
  }

  &__label {
    white-space: nowrap;
  }

  &__separator {
    height: 1px;
    background-color: var(--border-color);
  }
}
