@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.login-page {
  &__oauth-button {
    width: 100%;
  }

  &__separator {
    margin: $spacing-sm 0;
  }

  &__prompts {
    @include flex-center-column;

    gap: $spacing-2xl;
    margin-top: $spacing-2xl;
  }
}
