@use '../../styles/variables' as *;

.register-page {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    margin-bottom: $spacing-2xl;
  }

  &__checkbox {
    display: flex;
    gap: $spacing-sm;
    align-items: center;

    &-label {
      font-size: $font-size-sm;

      a {
        text-decoration: underline;
      }
    }
  }

  &__separator {
    margin: $spacing-sm 0;
  }

  &__prompts {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    align-items: center;
    margin-top: $spacing-2xl;
  }

  &__error {
    color: var(--text-error);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px) scaleY(0);
  }
  to {
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }
}

.form-field {
  position: relative;
  transition: 0.3s ease-in-out;

  &__label {
    display: block;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: var(--text-primary);

    &::after {
      content: '*';
      color: var(--text-error);
      margin-left: $spacing-xs;
    }
  }

  &__control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &__error {
    font-size: $font-size-sm;
    color: var(--text-error);
    bottom: -10px;
    position: absolute;
    text-align: left;
    transform-origin: top;
    overflow: hidden;

    opacity: 0;
    transform: translateY(-10px) scaleY(0);

    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
  }

  &--has-error {
    .form-field__error {
      animation-name: slide-down;
    }
  }
}
