@use '../../styles/variables' as *;

.register-page {
  &__form {
    display: flex;
    flex-direction: column;
  }

  &__fields {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    margin-bottom: $spacing-2xl;
  }

  &__checkbox {
    display: flex;
    gap: $spacing-sm;
    align-items: center;

    &-label {
      font-size: $font-size-sm;

      a {
        text-decoration: underline;
      }
    }
  }

  &__separator {
    margin: $spacing-sm 0;
  }

  &__prompts {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    align-items: center;
    margin-top: $spacing-2xl;
  }

  &__error {
    color: var(--text-error);
  }
}

.form-field {
  &__label {
    display: block;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: var(--text-primary);
  }

  &__control {
    display: flex;
    flex-direction: column;
  }

  &__error {
    font-size: $font-size-sm;
    color: var(--text-error);
  }
}
