@use '../../styles/variables' as *;

.register-page {
  &__card {
    padding: $spacing-2xl;
    background-color: var(--background);
    border-radius: $border-radius-md;
    transition: all $transition-default;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin: $spacing-2xl 0;
    color: var(--text-primary);
  }
  &__form {
    display: flex;
    flex-direction: column;
  }
  &__fields {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    margin-bottom: $spacing-2xl;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: $spacing-md;

    @media (max-width: $breakpoint-md) {
      flex-direction: column;
    }
  }

  &__checkbox {
    display: flex;
    align-items: center;
    gap: $spacing-sm;

    &-label {
      font-size: $font-size-sm;

      a {
        text-decoration: underline;
      }
    }
  }

  &__separator {
    margin: $spacing-sm 0;
  }

  &__prompts {
    display: flex;
    flex-direction: column;
    gap: $spacing-xl;
    align-items: center;
    margin-top: $spacing-2xl;
  }
  &__error {
    color: $text-error;
  }
}

.form-field {
  &__label {
    display: block;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    color: var(--text-primary);
  }

  &__control {
    display: flex;
    flex-direction: column;
  }

  &__error {
    font-size: $font-size-sm;
    color: $text-error;
  }
}
