@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.input {
  position: relative;

  &__field {
    @include text-primary-md(left);

    width: 100%;
    padding: 0.75rem $spacing-md;
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-radius: $border-radius-sm;

    &:hover,
    &:focus {
      outline: none;
      box-shadow: $shadow-xs;
    }

    &::placeholder {
      color: var(--text-tertiary);
    }

    &:focus::placeholder {
      opacity: 0.5;
    }

    &--with-left-icon {
      padding-left: 2.25rem;
    }

    &--with-right-icon {
      padding-right: 2.25rem;
    }

    &--error {
      border-color: var(--border-error);
      border-width: 0;
      border-bottom-width: 1px;

      &:focus {
        border-bottom-color: var(--border-error);
      }
    }
  }

  &__icon {
    @include flex-center;

    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    &--left {
      left: 0.75rem;
    }

    &--right {
      right: 0.75rem;
    }
  }

  &__toggle-btn {
    @include flex-center;

    height: 100%;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
  }
}
