@use '../../../styles/variables' as *;

.input {
  position: relative;

  &__field {
    width: 100%;
    padding: 0.75rem $spacing-md;
    font-weight: $font-weight-light;
    color: var(--text-primary);
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: $border-radius-sm;

    &:focus {
      outline: none;
      border-color: transparent;
      box-shadow: 0 0 0 2px var(--button-bg);
    }

    &::placeholder {
      font-weight: $font-weight-light;
    }

    &--with-icon {
      padding-right: 2.5rem;
    }

    &--error {
      border-color: var(--text-error);
      border-width: 0;
      border-bottom-width: 1px;

      &:focus {
        border-bottom-color: var(--text-error);
      }
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    right: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
  }

  &__toggle-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
  }

  &__toggle-icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--text-secondary);
  }
}
