@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.signup-page {
  &__separator {
    margin: $spacing-sm 0;
  }

  &__terms {
    margin-top: $spacing-sm;
  }

  &__prompts {
    @include flex-center-column;

    gap: $spacing-xl;
    margin-top: $spacing-md;
  }
}
