@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

@mixin checkbox-state($bg, $border, $hover-bg: null, $hover-border: null) {
  background-color: $bg;
  border-color: $border;

  @if $hover-bg != null and $hover-border != null {
    &:hover {
      background-color: $hover-bg;
      border-color: $hover-border;
    }
  }
}

.checkbox {
  @include flex-center;

  gap: $spacing-sm;

  &__input {
    position: relative;
    width: 1.125rem;
    height: 1.125rem;
    appearance: none;
    cursor: pointer;
    background-color: var(--bg-secondary);
    border: 2px solid var(--border-color);
    border-radius: $border-radius-xs;
    transition:
      border-color $transition-default,
      box-shadow $transition-default,
      background-color $transition-default;

    &:hover {
      border-color: var(--border-hover);
    }

    &:focus {
      outline: none;
      border-color: var(--purple);
      box-shadow: 0 0 0 3px rgb(147 51 234 / 20%);
    }

    &:checked {
      @include checkbox-state(var(--purple), var(--purple), #7e22ce, #7e22ce);

      &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 0.375rem;
        height: 0.625rem;
        content: '';
        border: 2px solid white;
        border-top: none;
        border-left: none;
        transform: translate(-50%, -60%) rotate(45deg);
      }
    }

    &:disabled {
      cursor: not-allowed;
      background-color: var(--button-disabled-bg);
      border-color: var(--border-disabled);
      opacity: 0.6;
    }
  }

  &__label {
    font-weight: var(--font-weight-normal);
    line-height: var(--line-height-md);
    color: var(--text-primary);
    cursor: pointer;
    user-select: none;
    transition: color var(--transition-default);

    a {
      color: var(--purple);
      text-decoration: underline;
      transition: color var(--transition-default);

      &:hover {
        color: #7e22ce;
      }
    }
  }

  &--sm {
    .checkbox__input {
      width: 1rem;
      height: 1rem;

      &:checked::after {
        width: 0.3125rem;
        height: 0.5rem;
      }
    }

    .checkbox__label {
      font-size: $font-size-sm;
    }
  }

  &--md {
    .checkbox__input {
      width: 1.125rem;
      height: 1.125rem;

      &:checked::after {
        width: 0.375rem;
        height: 0.625rem;
      }
    }

    .checkbox__label {
      font-size: $font-size-md;
    }
  }

  &--lg {
    .checkbox__input {
      width: 1.25rem;
      height: 1.25rem;

      &:checked::after {
        width: 0.4375rem;
        height: 0.75rem;
      }
    }

    .checkbox__label {
      font-size: $font-size-lg;
    }
  }

  &--error {
    .checkbox__input {
      border-color: var(--border-error);

      &:checked,
      &:checked:hover {
        @include checkbox-state(var(--red), var(--red));
      }
    }
  }
}

.checkbox__input:disabled + .checkbox__label {
  cursor: not-allowed;
  opacity: 0.6;
}
