@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.language-selector {
  position: relative;

  &__button {
    @include action-button-base;
  }

  &__flag {
    @include flex-center;

    flex-shrink: 0;
    width: $icon-size-md;
    height: $icon-size-md;
  }
}
