@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.language-selector {
  position: relative;

  &__button {
    @include action-button-base;

    gap: $spacing-xs;
  }

  &__flag {
    @include flex-center;

    width: 1.5rem;
    height: 1.5rem;
    font-size: $font-size-lg;
    pointer-events: none;
  }

  &__dropdown {
    @include dropdown-base;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    @include dropdown-item-base;
  }
}
