@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.secondary-button {
  @include button-base;

  color: var(--text-secondary);
  background-color: transparent;
  border: 1px solid var(--border-color);

  &:hover {
    background-color: var(--bg-secondary);
    border: 1px solid var(--border-color);
    border-color: var(--border-hover);
  }
}

.secondary-button-with-icon {
  @include flex-center;

  gap: $spacing-sm;

  &__icon-left,
  &__icon-right {
    @include flex-center;

    flex-shrink: 0;
  }

  &__icon-right {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }

  &__text {
    max-width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $font-weight-light;
    white-space: nowrap;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
