@use '../../../styles/variables' as *;

.slider {
  width: 100%;

  &__labels {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $spacing-sm;
  }

  &__label {
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    color: var(--text-primary);
  }

  &__track {
    position: relative;
    display: flex;
    align-items: center;
    margin-top: $spacing-sm;

    &-bg {
      position: absolute;
      z-index: $z-index-tooltip;
      width: 100%;
      height: 4px;
      background-color: var(--border-color);
      border-radius: $border-radius-sm;
    }
  }

  &__progress {
    position: absolute;
    z-index: $z-index-toggle;
    height: 4px;
    background-color: var(--purple);
    border-radius: $border-radius-sm;
  }

  &__input {
    z-index: $z-index-header;
    width: 100%;
    height: $spacing-md;
    appearance: none;
    background: transparent;

    &::-webkit-slider-thumb {
      width: $icon-size-sm;
      height: $icon-size-sm;
      appearance: none;
      cursor: pointer;
      background-color: var(--purple);
      border: none;
      border-radius: $border-radius-full;
    }

    &::-moz-range-thumb {
      width: $icon-size-sm;
      height: $icon-size-sm;
      cursor: pointer;
      background-color: var(--purple);
      border: none;
      border-radius: $border-radius-full;
    }
  }

  &__presets {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-xs;
    justify-content: center;
    margin-top: $spacing-md;
  }

  &__preset {
    padding: $spacing-xs $spacing-md;
    font-weight: $font-weight-light;
    color: var(--text-secondary);
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    transition: color $transition-default;

    &:hover,
    &--active {
      color: var(--text-primary);
    }
  }
}
