@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.columns-dropdown {
  position: relative;

  &__button {
    height: 40px;
  }

  &__icon {
    @include flex-center;
  }

  &__dropdown {
    @include dropdown-base;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    @include dropdown-item-base;
  }

  &__separator {
    height: 1px;
    background-color: var(--border-color);
  }
}
