@use '../../../styles/variables' as *;
@use '../../../styles//mixins' as *;

.pricing-slider {
  @include flex-center-column;

  gap: $spacing-md;

  &__summary {
    @include flex-center-column;

    gap: $spacing-sm;
    width: 100%;
  }
}
