@use '../../styles/variables' as *;

.language-selector {
  position: relative;

  &__button {
    display: flex;
    gap: $spacing-xs;
    align-items: center;
    justify-content: center;
    width: 68px;
    padding: 0.375rem;
    color: var(--text-primary);
    cursor: pointer;
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: $border-radius-full;
    box-shadow: $shadow-sm;
    transition:
      background-color $transition-default,
      color $transition-default,
      border-color $transition-default;

    &:hover {
      border-color: var(--card-hover-border);
    }
  }

  &__flag {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    font-size: $font-size-lg;
  }

  &__icon {
    width: 1.25rem;
    height: 1.25rem;
    color: var(--text-secondary);
  }

  &__dropdown {
    position: absolute;
    right: 0;
    width: 12rem;
    margin-top: $spacing-sm;
    background-color: var(--card-background);
    border: 1px solid var(--border-color);
    border-radius: $border-radius-sm;
    box-shadow: $shadow-sm;
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    display: flex;
    gap: $spacing-sm;
    align-items: center;
    width: 100%;
    padding: $spacing-sm $spacing-md;
    text-align: left;
    cursor: pointer;
    background: none;
    border: none;

    &:hover {
      background-color: var(--highlight-bg);
    }

    &--active {
      background-color: var(--highlight-bg);
    }

    &:first-child {
      border-top-left-radius: $border-radius-sm;
      border-top-right-radius: $border-radius-sm;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius-sm;
      border-bottom-left-radius: $border-radius-sm;
    }
  }

  &__name {
    color: var(--text-primary);
  }
}
