@use 'variables' as *;

@mixin fixed-controls-top-right {
  position: fixed;
  top: $spacing-md;
  right: $spacing-md;
  z-index: $z-index-toggle;
  display: flex;
  gap: $spacing-md;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
