@use 'variables' as *;

@mixin controls-top-right {
  position: absolute;
  top: $spacing-md;
  right: $spacing-md;
  z-index: $z-index-toggle;
  display: flex;
  gap: $spacing-md;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-center-column {
  @include flex-center;

  flex-direction: column;
}

@mixin button-base {
  width: auto;
  padding: 0.75rem $spacing-md;
  font-size: $font-size-md;
  font-weight: $font-weight-medium;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: $border-radius-sm;
  transition: all $transition-default;

  &:hover,
  &:focus {
    outline: none;
    box-shadow: $shadow-sm;
  }
}

@mixin action-button-base {
  @include flex-center;

  gap: $spacing-xs;
  padding: $spacing-xs;
  color: var(--text-primary);
  cursor: pointer;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: $border-radius-full;
  transition: all $transition-default;

  &:hover {
    border-color: var(--border-accent);
  }
}

@mixin form-layout {
  display: flex;
  flex-direction: column;

  &__fields {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    margin-bottom: $spacing-2xl;
  }
}

@mixin sidebar-button-base($padding-y: $spacing-sm, $padding-x: $spacing-md) {
  display: flex;
  align-items: center;
  width: 100%;
  padding: $padding-y $padding-x;
  text-align: left;
  cursor: pointer;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: $border-radius-sm;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--highlight-bg-secondary);
  }
}

@mixin text($color, $size, $weight: $font-weight-normal, $align: center) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
  text-align: $align;
}

@mixin text-primary-xl-semibold {
  @include text(var(--text-primary), $font-size-xl, $font-weight-semibold);
}

@mixin text-primary-md($align: center) {
  @include text(
    var(--text-primary),
    $font-size-md,
    $font-weight-normal,
    $align
  );
}

@mixin text-primary-sm {
  @include text(var(--text-primary), $font-size-sm, $font-weight-normal);
}

@mixin text-secondary-lg {
  @include text(var(--text-secondary), $font-size-lg, $font-weight-normal);
}

@mixin text-secondary-md {
  @include text(var(--text-secondary), $font-size-md, $font-weight-normal);
}

@mixin text-secondary-md-medium {
  @include text(var(--text-secondary), $font-size-md, $font-weight-medium);
}

@mixin text-secondary-sm {
  @include text(var(--text-secondary), $font-size-sm);
}

@mixin text-tertiary-xs-thin {
  @include text(var(--text-tertiary), $font-size-xs, $font-weight-thin);
}
