@use './reset' as *;
@use './variables' as *;
@use './theme/light' as *; // comes first
@use './theme/dark' as *; // comes always last

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.5;
  color: var(--text-primary);
  background-color: var(--background);
  transition: background-color $transition-default, color $transition-default;
}
