@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.profile-dropdown {
  position: relative;

  &__button {
    @include action-button-base;
  }

  &__avatar {
    @include flex-center;

    pointer-events: none;
  }

  &__name {
    max-width: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: $font-weight-light;
    white-space: nowrap;
    pointer-events: none;

    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
