@use '../../../../styles/variables' as *;

.chevron-toggle {
  transform: rotate(0deg);
  transition: transform $transition-default;

  &--open {
    transform: rotate(180deg);
  }

  @media (max-width: $breakpoint-md) {
    display: none;
  }
}
