@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.spinner {
  &--centered {
    @include flex-center;

    height: 100%;
  }

  &__content {
    @include flex-center-column;

    gap: $spacing-sm;
  }

  &__text {
    font-size: $font-size-sm;
    color: var(--text-secondary);
    text-align: center;
  }

  .loader-icon {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  50% {
    opacity: 0.6;
    transform: rotate(180deg) scale(1.2);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}
