@use '../../styles/variables' as *;

.spinner {
  &--centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .loader-icon {
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
  }

  50% {
    opacity: 0.5;
    transform: rotate(180deg) scale(1.3);
  }

  100% {
    opacity: 1;
    transform: rotate(360deg) scale(1);
  }
}
