@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.modal-footer {
  @include flex-center;

  flex-shrink: 0;
  gap: $spacing-md;
  justify-content: flex-end;
  padding: $spacing-md $spacing-lg;

  &--border-top {
    border-top: 1px solid var(--border-color);
  }
}
