@use '../../../styles/variables' as *;

.Toastify__toast-container--top-center {
  margin-top: $header-height;
}

.Toastify__toast--success {
  .Toastify__toast-icon svg {
    fill: var(--green) !important; // only affects the success icon
  }

  .Toastify__progress-bar {
    background-color: var(--green) !important;
  }
}

.Toastify__toast--error {
  .Toastify__toast-icon svg {
    fill: var(--red) !important; // only affects the error icon
  }

  .Toastify__progress-bar {
    background-color: var(--red) !important;
  }
}
