@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.auth-layout {
  @include flex-center;

  flex-direction: column;
  min-height: 100vh;
  padding: $spacing-md;

  &__fixed-controls {
    @include fixed-controls-top-right;
  }

  &__container {
    width: 100%;
    max-width: 28rem; // 448px ~ md
  }

  &__content {
    padding: $spacing-2xl;
    background-color: var(--background);
    border-radius: $border-radius-md;
    transition: all $transition-default;
  }

  &__logo {
    @include flex-center;

    margin: $spacing-2xl 0;
    color: var(--text-primary);
  }
}
