@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.auth-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: $spacing-md;
  background-color: var(--background);

  &__theme-toggle {
    @include theme-toggle-position;
  }

  &__container {
    width: 100%;
    max-width: 28rem; // 448px ~ md
  }

  &__content {
    padding: $spacing-2xl;
    background-color: var(--background);
    border-radius: $border-radius-md;
    transition: all $transition-default;
  }

  &__logo {
    display: flex;
    justify-content: center;
    margin: $spacing-2xl 0;
    color: var(--text-primary);
  }
}
