@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: all $transition-default;

  &__label {
    display: block;
    font-size: $font-size-md;
    font-weight: $font-weight-medium;
    line-height: $line-height-md;
    color: var(--text-primary);

    .form-field--required &::after {
      margin-left: $spacing-xs;
      color: var(--text-error);
      content: '*';
    }
  }

  &__control {
    @include flex-column;

    width: 100%;
  }

  &__error {
    position: absolute;
    top: 100%;
    min-height: min-height-from-font($font-size-sm);
    overflow: hidden;
    font-size: $font-size-sm;
    color: var(--text-error);
    white-space: nowrap;
    opacity: 0;
    transform: translateY(-#{$spacing-sm});
    transition: $transition-error;
  }

  &--with-error {
    margin-bottom: $spacing-md;

    .form-field__error {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
