@use '../../../../styles/variables' as *;

.features {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-md;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__title {
    margin-right: auto;
    color: var(--text-secondary);
    white-space: nowrap;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-md;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__item {
    display: flex;
    align-items: center;
  }

}
