@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.reset-password-page {
  @include flex-column;

  gap: $spacing-2xl;

  &__description {
    text-align: center;
  }

  &__prompts {
    @include flex-center-column;

    gap: $spacing-2xl;
  }
}
