@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.rows-per-page-dropdown {
  position: relative;

  &__button {
    height: 42px;
  }

  &__icon {
    @include flex-center;
  }

  &__dropdown {
    @include dropdown-base(auto);
  }

  &__list {
    padding: 0;
    margin: 0;
  }

  &__item {
    @include dropdown-item-base;
  }

  &__separator {
    height: 1px;
    background-color: var(--border-color);
  }
}
