@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.notification-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: $spacing-xl;
  color: var(--text-primary);
  background-color: var(--bg-secondary);
  border: 1px solid var(--border-color);
  border-radius: $border-radius-md;

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header {
    display: flex;
    gap: $spacing-md;
    align-items: center;
  }

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-semibold;
  }

  &__close {
    @include flex-center;

    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  &__message {
    margin-top: $spacing-md;
    font-size: $font-size-sm;
    color: var(--text-secondary);
  }

  &__button {
    width: 100%;
    margin-top: $spacing-xl;
  }
}
