@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.sidebar-item {
  &__main {
    @include flex-center;

    gap: $spacing-xs;
  }

  &__button {
    @include sidebar-button-base($spacing-sm, $spacing-md);
    @include text-primary-md;
  }

  &__content-left {
    display: flex;
    flex: 1;
    gap: $spacing-sm;
    align-items: center;
    overflow: hidden;
  }

  &__main-icon {
    flex-shrink: 0;
    width: $icon-size-sm;
    height: $icon-size-sm;
  }

  &__label {
    max-width: 130px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__content-right {
    display: flex;
    flex-shrink: 0;
    gap: $spacing-xs;
    align-items: center;
  }

  &__additional-icon {
    width: $icon-size-xs;
    height: $icon-size-xs;
    transition: transform $transition-default;

    &--expanded {
      transform: rotate(180deg);
    }
  }

  &__submenu {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition:
      max-height $transition-default,
      opacity $transition-default;

    &--open {
      max-height: 10rem;
      opacity: 1;
    }
  }

  &__sublist {
    @include flex-column;

    gap: $spacing-xs;
    padding: $spacing-xs 0;
    margin-left: $spacing-2xl;
  }

  &__main--active {
    .sidebar-item__button,
    .sidebar-item__main-icon,
    .sidebar-item__additional-icon {
      color: var(--orange);
    }

    .active-indicator {
      background-color: var(--orange);
    }
  }
}
