@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.public-layout {
  @include flex-center-column;

  min-height: 100vh;
  padding: $spacing-4xl $spacing-md;

  &__user-preferences {
    @include controls-top-right;
  }

  &__container {
    @include flex-column;

    gap: $spacing-2xl;
    width: 100%;
    max-width: $breakpoint-xl;
    margin: 0 auto;
  }
}
