@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.public-layout {
  @include flex-center;

  flex-direction: column;
  min-height: 100vh;
  padding: $spacing-3xl $spacing-md;

  &__fixed-controls {
    @include fixed-controls-top-right;
  }

  &__container {
    width: 100%;
    max-width: $breakpoint-xl;
    margin: 0 auto;
  }
}
