@use '../../../styles//variables' as *;

.discount-badge {
  padding: 0.375rem $spacing-md;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: var(--highlight-text);
  text-transform: uppercase;
  background-color: var(--highlight-bg);
  border-radius: $border-radius-full;
  transition:
    background-color $transition-default,
    color $transition-default;
}
