@use '../../../styles/variables' as *;

.active-indicator {
  width: $spacing-xs;
  height: $spacing-xl;
  background-color: transparent;
  border-radius: $border-radius-full;

  &--active {
    background-color: var(--orange);
  }

  &--item {
    height: $spacing-2xl;
  }

  &--sub-item {
    height: $spacing-xl;
  }
}
