@use '../../../../styles/variables' as *;

.total-price {
  display: flex;
  align-items: baseline;
  justify-content: center;

  &__original {
    margin-right: $spacing-sm;
    color: var(--text-secondary);
    text-decoration: line-through;
    transition: color $transition-default;
  }

  &__final {
    font-size: $font-size-2xl;
    font-weight: $font-weight-bold;
    color: var(--text-primary);
    text-align: center;
    transition: color $transition-default;
  }
}
