@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.app-sidebar {
  width: $sidebar-width;
  height: calc(100vh - $header-height);
  background-color: var(--bg-secondary);
  border-right: 1px solid var(--border-color);
  opacity: 1;
  transform: translateX(0);
  transition:
    transform $transition-default,
    opacity $transition-default;

  &--collapsed {
    pointer-events: none;
    opacity: 0;
    transform: translateX(-100%);
  }

  &__inner {
    padding: $spacing-sm;
    padding-top: $spacing-md;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    padding: $spacing-xs;
  }
}
