@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.oauth-button {
  @include button-base;
  @include flex-center;
  @include text-primary-md-medium;

  gap: $spacing-sm;
  background-color: transparent;
  border: 1px solid var(--border-color);

  &:hover {
    background-color: var(--bg-secondary);
    border-color: var(--button-primary-bg);
  }

  &:disabled {
    cursor: not-allowed;
    background-color: var(--button-disabled-bg);
    border-color: var(--border-disabled);
  }

  &__icon {
    @include flex-center;

    width: 1.25rem;
    height: 1.25rem;
  }
}
