@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.oauth-button {
  @include button-base;
  @include flex-center;

  gap: $spacing-sm;
  color: var(--text-primary);
  background-color: transparent;
  border: 1px solid var(--border-color);

  &:hover {
    border-color: var(--button-primary-bg);
  }

  &__icon {
    @include flex-center;

    width: 1.25rem;
    height: 1.25rem;
  }

  &__text {
    font-size: $font-size-sm;
  }
}
