@use '../../../../styles/variables' as *;

.filters-container {
  max-height: 0;
  padding: 0;
  overflow: hidden;
  background: var(--bg-primary);
  border: 1px solid var(--border-color);
  border-radius: $border-radius-md;
  opacity: 0;
  transition: all $transition-default;

  &--open {
    max-height: 24rem;
    opacity: 1;
  }

  &__content {
    padding: $spacing-md;
  }
}
