@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.badge {
  @include flex-center;

  min-width: 1rem;
  height: 1rem;
  padding: 0 $spacing-xs;
  font-size: 10px;
  font-weight: $font-weight-semibold;
  line-height: 1;
  color: var(--highlight-text);
  white-space: nowrap;
  background-color: var(--highlight-bg);
  border-radius: $border-radius-full;
}
