@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.profile-modal {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__field {
    color: var(--text-primary);

    strong {
      font-weight: $font-weight-medium;
      color: var(--text-secondary);
    }
  }
}
