@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.profile-modal {
  &__content {
    display: flex;
    flex-direction: column;
    gap: $spacing-lg;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
  }

  &__field {
    line-height: $line-height-md;
    color: var(--text-primary);

    strong {
      font-weight: $font-weight-medium;
      color: var(--text-secondary);
    }
  }

  &__status {
    &--verified {
      color: var(--green);
    }

    &--unverified {
      color: var(--yellow);
    }
  }
}
