@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.primary-button {
  @include button-base;

  color: var(--bg-primary);
  background-color: var(--button-primary-bg);

  &:hover {
    background-color: var(--button-primary-hover);
  }

  &--outlined {
    color: var(--button-primary-bg);
    background-color: transparent;
    border: 1px solid var(--button-primary-bg);

    &:hover {
      color: var(--bg-primary);
      background-color: var(--button-primary-bg);
    }
  }
}
