@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.primary-button {
  @include button-base;

  color: var(--bg-primary);
  background-color: var(--button-primary-color);

  &:hover,
  &:focus {
    background-color: var(--button-primary-accent);
  }

  &--outlined {
    color: var(--button-primary-color);
    background-color: transparent;
    border: 1px solid var(--button-primary-color);

    &:hover,
    &:focus {
      color: var(--bg-primary);
      background-color: var(--button-primary-color);
    }
  }
}
