@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.primary-button {
  @include button-base;

  color: white;
  background-color: var(--button-primary-bg);
  border: none;

  &:hover {
    background-color: var(--button-primary-hover);
  }
}
