.dark {
  color-scheme: dark;

  --purple: #8b5cf6;

  // Background colors
  --bg-primary: #141414;
  --bg-secondary: #1e1e1e;
  --bg-tertiary: #2a2a2a;

  // Text colors
  --text-primary: #f7f7f7;
  --text-secondary: #a1a1aa;
  --text-tertiary: #71717a;

  // Border colors
  --border-color: #2e2e2e;
  --border-accent: var(--purple);
  --border-disabled: #333;

  // Highlight/emphasis colors for user attention
  --highlight-bg-primary: #831843;
  --highlight-bg-secondary: #4c1d34;
  --highlight-text: #fbcfe8;

  // Button colors
  --button-primary-color: var(--text-primary);
  --button-primary-accent: #e8e8e8;
  --button-offer-color: var(--purple);
  --button-offer-accent: #a373ff;

  // Link colors
  --link-primary: #a5a7ff;
  --link-accent: #8b8df5;

  // Shadow color
  --shadow-color: rgb(255 255 255 / 15%);
}
