:root {
  color-scheme: light;

  --green: #22c55e;
  --orange: #e66e5a;
  --blue: #3b82f6;
  --purple: #9333ea;
  --yellow: #eab308;
  --cyan: #06b6d4;
  --pink: #ec4899;
  --red: #dc2626;

  // Background colors
  --bg-primary: #f7f7f7;
  --bg-secondary: #fff;
  --bg-tertiary: #eaeaea;

  // Text colors
  --text-primary: #141414;
  --text-secondary: #5c5c5c;
  --text-tertiary: #a0a0a0;
  --text-error: var(--red);

  // Border colors
  --border-color: #e5e7eb;
  --border-accent: #e9d5ff;
  --border-disabled: #f0f0f0;
  --border-error: var(--red);

  // Highlight/emphasis colors for user attention
  --highlight-bg-primary: #fce7f3;
  --highlight-bg-secondary: #fdf2f8;
  --highlight-text: #be185d;

  // Button colors
  --button-primary-color: var(--text-primary);
  --button-primary-accent: #2a2a2a;
  --button-offer-color: var(--purple);
  --button-offer-accent: #7c2ccf;
  --button-disabled-color: var(--bg-primary);

  // Link colors
  --link-primary: #7678ed;
  --link-accent: #5658cd;

  // Shadow color
  --shadow-color: rgb(0 0 0 / 10%);
}
