@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.general-error-page {
  @include flex-column;

  gap: $spacing-2xl;

  &__content {
    @include flex-center-column;

    gap: $spacing-md;
  }

  &__icon {
    margin-bottom: $spacing-md;
  }

  &__title {
    @include text-primary-xl-semibold;
  }

  &__description {
    @include text-secondary-md;

    text-align: center;
  }

  &__cta {
    width: 100%;
    margin-top: $spacing-md;
  }
}
