@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.offer-button {
  @include button-base;

  width: 100%;
  color: var(--bg-primary);
  text-transform: uppercase;
  background-color: var(--button-offer-color);

  &:hover,
  &:focus {
    background-color: var(--button-offer-accent);
  }

  &--outlined {
    color: var(--button-offer-color);
    background-color: transparent;
    border: 1px solid var(--button-offer-color);

    &:hover,
    &:focus {
      color: var(--bg-primary);
      background-color: var(--button-offer-color);
    }
  }
}
