@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.offer-button {
  @include button-base;

  width: 100%;
  color: var(--bg-primary);
  text-transform: uppercase;
  background-color: var(--button-offer-bg);

  &:hover {
    background-color: var(--button-offer-hover);
  }

  &--outlined {
    color: var(--button-offer-bg);
    background-color: transparent;
    border: 1px solid var(--button-offer-bg);

    &:hover {
      color: var(--bg-primary);
      background-color: var(--button-offer-bg);
    }
  }
}
