@use '../../../styles/variables' as *;
@use '../../../styles/mixins' as *;

.home-page {
  @include flex-center-column;

  height: 100%;

  &__title {
    font-size: $font-size-lg;
    font-weight: $font-weight-bold;
  }
}
