@use '../../../styles/variables' as *;

.internal-link {
  font-weight: $font-weight-medium;
  color: #7678ed;
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: #5658cd;
  }

  &--sm {
    font-size: $font-size-xs;
  }

  &--md {
    font-size: $font-size-sm;
  }

  &--lg {
    font-size: $font-size-md;
  }

  &--underline-hover {
    &:hover {
      text-decoration: underline;
    }
  }

  &--underline-always {
    text-decoration: underline;
  }
}
