.internal-link {
  font-weight: 500;
  color: #7678ed;
  text-decoration: none;
  transition: color 0.2s;

  &:hover {
    color: #5658cd;
  }

  &--sm {
    font-size: 0.875rem;
  }

  &--md {
    font-size: 1rem;
  }

  &--lg {
    font-size: 1.125rem;
  }

  &--underline-hover {
    &:hover {
      text-decoration: underline;
    }
  }

  &--underline-always {
    text-decoration: underline;
  }
}
