@use '../../../styles/variables' as *;

.internal-link {
  font-weight: $font-weight-medium;
  color: var(--link-primary);
  text-decoration: none;
  transition: color 0.3s;

  &:hover,
  &:focus {
    color: var(--link-accent);
  }

  &--sm {
    font-size: $font-size-sm;
  }

  &--md {
    font-size: $font-size-md;
  }

  &--lg {
    font-size: $font-size-lg;
  }

  &--underline-hover {
    &:hover {
      text-decoration: underline;
    }
  }

  &--underline-always {
    text-decoration: underline;
  }
}
