name: Cleanup Old Docker Images

on:
  schedule:
    - cron: '0 2 * * 0' # Run weekly on Sunday at 2 AM UTC
  workflow_dispatch:

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      packages: write

    steps:
      - name: Delete old untagged images
        uses: actions/delete-package-versions@v5
        continue-on-error: true
        with:
          package-name: 'smela-front-ci'
          package-type: 'container'
          min-versions-to-keep: 8
          delete-only-untagged-versions: true
