name: CI

on:
  pull_request:
    branches: [dev, main]
    paths-ignore:
      - '**.md'
      - '**.txt'
      - 'LICENSE'
      - '.gitignore'
      - '.gitattributes'
      - '.prettierignore'
  push:
    branches: [dev, main]
    paths-ignore:
      - '**.md'
      - '**.txt'
      - 'LICENSE'
      - '.gitignore'
      - '.gitattributes'
      - '.prettierignore'

concurrency:
  group: ci-${{ github.ref }}
  cancel-in-progress: true

jobs:
  ut:
    name: Unit Tests (Jest)
    runs-on: ubuntu-latest
    environment: test
    env:
      VITE_CAPTCHA_SITE_KEY: ${{ secrets.VITE_CAPTCHA_SITE_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Run tests with coverage
        run: npm run cov

      - name: Upload coverage reports to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  e2e:
    name: End-to-End Tests (Playwright)
    runs-on: ubuntu-latest
    if: false
    environment: test
    needs: ut
    env:
      VITE_BE_BASE_URL: ${{ vars.VITE_BE_BASE_URL }}
      VITE_CAPTCHA_SITE_KEY: ${{ secrets.VITE_CAPTCHA_SITE_KEY }}
      VITE_MAILISK_API_KEY: ${{ secrets.VITE_MAILISK_API_KEY }}
      VITE_MAILISK_NAMESPACE: ${{ secrets.VITE_MAILISK_NAMESPACE }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Get Playwright version
        id: playwright-version
        run:
          echo "version=$(node -e
          "console.log(require('./package.json').devDependencies['@playwright/test'])")"
          >> $GITHUB_OUTPUT

      - name: Cache Playwright browsers
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key:
            ${{ runner.os }}-playwright-${{
            steps.playwright-version.outputs.version }}
          restore-keys: |
            ${{ runner.os }}-playwright-

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run Playwright tests
        run: npm run e2e

      - name: Upload Playwright report
        uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 7
